body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
ol,
ul {
  padding-left: 30px;
}

.tile {
  background: #fff;
  border: 1px groove #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.tile:hover {
  background-color: blanchedalmond;
}

.tile:focus {
  outline: none;
}

.grey {
  background-color: slategrey;
}
.dark-grey {
  background-color: darkslategrey;
}
.tile-row:after {
  clear: both;
  content: "";
  display: table;
}

.thick-top {
  border-top: 1px solid black;
}
.thick-left {
  border-left: 1px solid black;
}
.thick-bottom {
  border-bottom: 1px solid black;
}
.thick-right {
  border-right: 1px solid black;
}
.puzzle {
  display: flex;
  flex-direction: row;
}
